body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 32pt;
    font-family: monospace;
}

#todos {
    flex-grow: 1;
    text-indent: -1ch;
    padding-left: 1ch;
}
